/* General Styles */
body
{
	margin-top: 40px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px;
	font-family: Helvetica, sans-serif;
	height: 100%;
}

h1
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	size: 40px;
	text-rendering: optimizelegibility;
	text-align: center;
	padding-left: 14px;
}

/* Styles relating to the table */
#timetable
{
	border-collapse: collapse;
	margin: 0 auto;
}

#timetable td, th
{
	width: 100px;
	height: 40px;
	border: 2px solid black;
	text-align: center;
	vertical-align: middle;
}

#timetable th
{
	background-color: #D3D3D3;
}

#timetable td
{
	cursor: pointer;
}

.room
{
	font-size: 75%;
}

.modal-header, .modal-body, .modal-footer
{
	text-align: left;
}

.input-xlarge
{
	height: 25px;
}

.navigation_menu
{
	margin-bottom: 0px;
	position: fixed;
	bottom: 0px;
	width: 100%;
}

.navigation_menu a
{
	margin-left: 15px;
}